mac/DerivedData
UserInterfaceState.xcuserstate
mac/Clocks.xcodeproj/xcuserdata
_autosave-OfficeClock.sch
IDEFindNavigatorScopes.plist
OfficeClock/build
.clangd
dependencies.lock
OfficeClock/espidf/.devcontainer/devcontainer.json
OfficeClock/espidf/.devcontainer/Dockerfile
OfficeClock/espidf/.vscode
sdkconfig
Etherclock/espidf/.devcontainer
Etherclock/espidf/.vscode
OfficeClock/Hardware/Max7219Clock/#auto_saved_files#
_autosave-Max7219Clock.kicad_sch
fp-info-cache
~Max7219Clock.kicad_sch.lck
OfficeClock/Hardware/Max7219Clock/Max7219Clock-backups
