mac/DerivedData
UserInterfaceState.xcuserstate
mac/Clocks.xcodeproj/xcuserdata
_autosave-OfficeClock.sch
IDEFindNavigatorScopes.plist
OfficeClock/build
.clangd
dependencies.lock
OfficeClock/espidf/.devcontainer/devcontainer.json
OfficeClock/espidf/.devcontainer/Dockerfile
OfficeClock/espidf/.vscode
sdkconfig
Etherclock/espidf/.devcontainer
Etherclock/espidf/.vscode
